@font-face {
  font-family: 'Bitcount Grid Single';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/cY8bfi2OU1tLpjaqQveNvbC2qfsuQPDVASHjTcBszBsXfC5C9kAKu8QoqnfqMiS4gVij5yxO41San7UnNMBH-Y9u33JUGFdHpUYahAAdbgvnnHmmgUGanohqZUI.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Single';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/cY8bfi2OU1tLpjaqQveNvbC2qfsuQPDVASHjTcBszBsXfC5C9kAKu8QoqnfqMiS4gVij5yxO41San7UnNMBH-Y9u33JUGFdHpUYahAAdbgvnnHmmgUGanghrZUI.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Single';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY8bfi2OU1tLpjaqQveNvbC2qfsuQPDVASHjTcBszBsXfC5C9kAKu8QoqnfqMiS4gVij5yxO41San7UnNMBH-Y9u33JUGFdHpUYahAAdbgvnnHmmgUGantZrZUI.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Single';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY8bfi2OU1tLpjaqQveNvbC2qfsuQPDVASHjTcBszBsXfC5C9kAKu8QoqnfqMiS4gVij5yxO41San7UnNMBH-Y9u33JUGFdHpUYahAAdbgvnnHmmgUGanohrZUI.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Single';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/cY8bfi2OU1tLpjaqQveNvbC2qfsuQPDVASHjTcBszBsXfC5C9kAKu8QoqnfqMiS4gVij5yxO41San7UnNMBH-Y9u33JUGFdHpUYahAAdbgvnnHmmgUGanrprZUI.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Single';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY8bfi2OU1tLpjaqQveNvbC2qfsuQPDVASHjTcBszBsXfC5C9kAKu8QoqnfqMiS4gVij5yxO41San7UnNMBH-Y9u33JUGFdHpUYahAAdbgvnnHmmgUGanlZsZUI.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Single';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY8bfi2OU1tLpjaqQveNvbC2qfsuQPDVASHjTcBszBsXfC5C9kAKu8QoqnfqMiS4gVij5yxO41San7UnNMBH-Y9u33JUGFdHpUYahAAdbgvnnHmmgUGanm9sZUI.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Single';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/cY8bfi2OU1tLpjaqQveNvbC2qfsuQPDVASHjTcBszBsXfC5C9kAKu8QoqnfqMiS4gVij5yxO41San7UnNMBH-Y9u33JUGFdHpUYahAAdbgvnnHmmgUGanghsZUI.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Single';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/cY8bfi2OU1tLpjaqQveNvbC2qfsuQPDVASHjTcBszBsXfC5C9kAKu8QoqnfqMiS4gVij5yxO41San7UnNMBH-Y9u33JUGFdHpUYahAAdbgvnnHmmgUGaniFsZUI.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/rP2rp2ywxg089UriCZaSExd86J3t9jz86Mvy4qCRAL19DksVat-JDG3z.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/rP2rp2ywxg089UriCZaSExd86J3t9jz86Mvy4qCRAL19DksVat8JDW3z.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/rP2rp2ywxg089UriCZaSExd86J3t9jz86Mvy4qCRAL19DksVat_XDW3z.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/rP2rp2ywxg089UriCZaSExd86J3t9jz86Mvy4qCRAL19DksVat-JDW3z.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/rP2rp2ywxg089UriCZaSExd86J3t9jz86Mvy4qCRAL19DksVat-7DW3z.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/rP2rp2ywxg089UriCZaSExd86J3t9jz86Mvy4qCRAL19DksVat9XCm3z.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/rP2rp2ywxg089UriCZaSExd86J3t9jz86Mvy4qCRAL19DksVat9uCm3z.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/rP2rp2ywxg089UriCZaSExd86J3t9jz86Mvy4qCRAL19DksVat8JCm3z.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/rP2rp2ywxg089UriCZaSExd86J3t9jz86Mvy4qCRAL19DksVat8gCm3z.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAop1hTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAIpxhTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwA_JxhTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxhTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAkJxhTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAfJthTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZthTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAIpthTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAC5thTg.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/6qLjKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrE5xSReZeOtqQuDVUTURu-HMo.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/6qLjKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrE5xSReZeOtqQuDVUTUcW-HMo.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/6qLjKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrE5xSReZeOtqQuDVUTUZu-HMo.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/6qLjKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrE5xSReZeOtqQuDVUTUam-HMo.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/6qLjKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrE5xSReZeOtqQuDVUTUUW5HMo.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/6qLjKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrE5xSReZeOtqQuDVUTUXy5HMo.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/6qLjKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrE5xSReZeOtqQuDVUTURu5HMo.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/6qLjKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrE5xSReZeOtqQuDVUTUTK5HMo.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/6qLhKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrEzR2jhk_n3T6ACkBbEnP9.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/6qLhKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrEzR2jhk_n3T6ACkCFEnP9.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/6qLhKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrEzR2jhk_n3T6ACkDbEnP9.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/6qLhKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrEzR2jhk_n3T6ACkDpEnP9.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/6qLhKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrEzR2jhk_n3T6ACkAFFXP9.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/6qLhKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrEzR2jhk_n3T6ACkA8FXP9.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/6qLhKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrEzR2jhk_n3T6ACkBbFXP9.ttf) format('truetype');
}
@font-face {
  font-family: 'Zalando Sans SemiExpanded';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/6qLhKYcHuh3msE9OaXROVVclRRa-ClZSEipa2hrEzR2jhk_n3T6ACkByFXP9.ttf) format('truetype');
}
